<!DOCTYPE html>
<html>

<head>
    <title>todo-app</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/todo.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <script type="text/javascript" src="/js/lib/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">todo-app</a>
            </div>

            <div class="narbar navbar-default">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li><a href="/login">Login</a>
                        </li>
                        <% } else if(currentUser.username==='admin' ) { %>
                        <li><a href="/register">Registeration</a>
                        </li>
                        <li><a href="/logout">Logout: <%= currentUser.username %></a>
                        </li>
                        <% } else { %>
                        <li><a href="/logout">Logout: <%= currentUser.username %></a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </nav>