<% include partials/header %>

    <div class="nb-error">
        <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
        <div class="error-code">
            <%= errCode %>
        </div>
        <h3 class="font-bold"><%= errDesc %></h3>
    </div>

<% include partials/footer %>