<% include partials/header %>

    <div class="root col-md-4 col-md-offset-4">
        <h1 id="title">todo-app <i class="fa fa-calendar-plus-o" aria-hidden="true"></i></h1>
        <form action="api/todo" method="POST">
            <input type="text" class="todo_input" placeholder="Add new item" name="name" id="#todoName">
        </form>
        <ul class="todo_list">
            <% todos.forEach(function(todo){ var completeClass="none" ; if(todo.isDone) { completeClass="completed" ; } %>
                <li id="<%= todo._id %>" class="todo_list_item <%= completeClass%>"><span class="todo_list_item_span"><i class="fa fa-trash"></i></span>
                <%=todo["name"] %>
                </li>
                <% }); %>
        </ul>
    </div>
    <script type="text/javascript" src="/js/todo.js"></script>

<% include partials/footer %>